<div id="negative_component">
<div style="font-size: 3em; width: 100%; height: 100%; text-align: center;">
<div id="negative_counter"></div>
<button>Set</button>
</div>
</div>
<script>
(function(component_name) {
   var ajax = function() {
     xhr = new XMLHttpRequest();
     xhr.open('GET', '/api/set2', true)
     xhr.send(null);
   };

   var setData = function(data) {
     console.log('***', 'setData', component_name, data);
     switch (data.room) {
       case "/api/get2":
         document.getElementById("negative_counter").innerHTML = data['data'];
         break;
     }
   };

   document.querySelector("#negative_component button").onclick = ajax;

   {% set services = ["/api/get2"] %}
   {% include "component.js" %}
 })('negative counter');
</script>
